@define-color color_primary #1e1e2e;
@define-color color_secondary #313244;
@define-color color_accent #3498db;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Terminess Nerd Font Propo", "JetBrainsMono Nerd Font Propo",
    FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: @color_primary;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding: 4px 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  padding: 2px;
  margin: 4px 0px;
  color: #ffffff;
  border-radius: 8px;
  background-color: @color_secondary;
}

#workspaces button {
  padding: 0 8px;
  border-radius: 8px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 700;
}

#workspaces button:hover {
  background: @color_secondary;
}

#workspaces button.empty {
  color: #6c7086;
}

#workspaces button.active {
  background-color: #f5e0dc;
  color: #11111b;
}

#workspaces button.focused {
  background-color: #64727d;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#idle_inhibitor,
#power-profiles-daemon,
#language,
#mpd {
  padding: 4px 12px;
  margin: 4px 0px;
  color: #ffffff;
  border-radius: 8px;
  background-color: @color_secondary;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 8px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 8px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

label:focus {
  background-color: #000000;
}
